body{
    background-color:cornsilk;
}
.border {
 
    list-style: none;
    padding: 0;
    }
.border li {
    background-color: white;
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}
a{
    text-decoration: none;
}
a:link {
    color: #497DDD; 
    border-bottom: 1px dashed; 
  }
  a:visited {
    color: #EF7D55;
  }
  a:hover {
    color: #154088; 
    border-bottom: .07em solid;
  }
  a:active {
    color: #497DDD; 
    border-bottom: 1px dashed;
  }
  h1 { 
    color: #111;
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 27px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
  }
  h2 { 
    color: #111; 
    font-family: ‘Open Sans’, sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 12px; margin: 0 0 12px; 
    text-align: center; 
  }
  h3{ 
    color: #111; 
    font-family: ‘Open Sans’; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px; margin: 0 0 0px; 
    text-align: center; 
  }
